<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_walk/fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,152}</string>
                <key>spriteSourceSize</key>
                <string>{109,152}</string>
                <key>textureRect</key>
                <string>{{216,223},{109,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_walk/fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,186}</string>
                <key>spriteSourceSize</key>
                <string>{72,186}</string>
                <key>textureRect</key>
                <string>{{325,223},{72,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_walk/swim_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{132,0},{132,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_walk/swim_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_walk/walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{0,96},{132,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_walk/walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,96}</string>
                <key>spriteSourceSize</key>
                <string>{125,96}</string>
                <key>textureRect</key>
                <string>{{264,0},{125,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_walk/right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,135}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{0,223},{108,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_walk/right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,127}</string>
                <key>spriteSourceSize</key>
                <string>{107,127}</string>
                <key>textureRect</key>
                <string>{{243,96},{107,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_walk/up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,135}</string>
                <key>spriteSourceSize</key>
                <string>{108,135}</string>
                <key>textureRect</key>
                <string>{{108,223},{108,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_walk/up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,120}</string>
                <key>spriteSourceSize</key>
                <string>{111,120}</string>
                <key>textureRect</key>
                <string>{{132,96},{111,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hector.png</string>
            <key>size</key>
            <string>{397,409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be07d869f8d87eae96e69714df44019d:f815361f82937e46b88979bc224d041b:74a558b60604b965caa18247fa47d4f7$</string>
            <key>textureFileName</key>
            <string>hector.png</string>
        </dict>
    </dict>
</plist>
